
<%# 最新文章归档  %>

<% if (site.posts.length){ %>
  <% if (theme.side.recent_posts){ %>
  <li>
	  <a href="javascript:;" class="nav-togg" target="_self" ><span><%=  theme.side.recent_posts %></span>
	  </a>
    <div>
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li style="font-size: 16px;">
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </li>
  <% } %>
<% } %>