
<%#-  audio player 音乐插件 http://www.jq22.com/yanshi19022 %>
<link href="<%= theme.player.audio.css %>" rel="stylesheet" type="text/css" />


<div id="jp_container_N" class="jp-video jp-video-270p" role="application" aria-label="media player" style="left: 0px; height: 175px; bottom: 20px;">
	<div class="jp-type-playlist">
		<div id="jquery_jplayer_N" class="jp-jplayer" style="width: 90px; height: 90px;">	<img id="jp_poster_0" style="width: 90px; height: 90px; display: inline;" src="http://p1.music.126.net/QcWNRX_0uhckImvF2nN1xA==/109951164573973377.jpg?param=130y130">
			<audio id="jp_audio_0" preload="metadata" src="http://music.163.com/song/media/outer/url?id=31473269.mp3" title="加载中...."></audio>
			<video id="jp_video_0" preload="metadata" title="加载中...." style="width: 0px; height: 0px;"></video>
		</div>
		<div class="jp-gui">
			<div class="jp-video-play" style="display: none;">
				<button class="jp-video-play-icon" role="button" tabindex="0">播放</button>
			</div>
			<div class="jp-interface">
				<div class="jp-progress">
					<div class="jp-seek-bar" style="width: 100%;">
						<div class="jp-play-bar" style="overflow: hidden; width: 0%;"></div>
					</div>
				</div>
				<div class="jp-current-time" role="timer" aria-label="time">00:00</div>
				<div class="jp-duration" role="timer" aria-label="duration">05:25</div>
				<div class="jp-controls-holder">
					<div class="jp-controls">
						<button class="jp-previous" role="button" tabindex="0">上一曲</button>
						<button class="jp-play" role="button" tabindex="0">播放</button>
						<button class="jp-next" role="button" tabindex="0">下一曲</button>
						<button class="jp-stop" role="button" tabindex="0">暂停</button>
					</div>
					<div class="jp-volume-controls">
						<button class="jp-mute" role="button" tabindex="0">静音</button>
						<button class="jp-volume-max" role="button" tabindex="0">最大音量</button>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value" style="width: 80%;"></div>
						</div>
					</div>
					<div class="jp-toggles">
						<button class="jp-repeat" role="button" tabindex="0">重复</button>
						<button class="jp-shuffle" role="button" tabindex="0">随机</button>
					</div>
				</div>
				<div class="jp-details" style="display: none;">
				<div class="jp-title" aria-label="title">加载中....</div>
				</div>
			</div>
		</div>
		<div class="jp-playlist">
			<div class="jp-playlist-box" style="height: 80px;">
				<ul style="height: 1000px; display: block; top: 0px;">
					
					
					
					
					
					
				</ul>
			</div>
		</div>
		<div class="jp-no-solution" style="display: none;">
			<span style="transform: rotate(180deg);">升级需要</span> 您浏览器赞不支持播放，请更新版本
			<a href="http://get.adobe.com/flashplayer" target="_blank">Flash插件</a>.
		</div>
	</div>

	<div class="scrollBar" style="display: block;">
		<div class="bar" style="top: 0px;"></div>
	</div>

	<button type="button" class="folded_bt" title="点击收缩" id="btnfold" style="top: 52px;">
	<span style="transform: rotate(180deg);"></span>
	</button>
	<div id="listRemove" style="display: block;"></div>

	<div id="listClose"></div>

</div>


<%#- audio player 音乐插件 http://www.jq22.com/yanshi19022 %>

<script src="<%= theme.player.audio.js.player %>"></script>
<script src="<%= theme.player.audio.js.playlist %>"></script>
<%- partial('_plug/playerlist') %>







