<%#- 永久链接（Permalinks）在 md文章 里定义布局方式为layout: Permalinks %>
<div class="dearmsdan-post" id="Permalinks">
  <article>
    <%- page.content %>
  </article>
	<div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '<%- theme.valine.appId %>',
            appKey: '<%- theme.valine.appKey %>',
            avatar: '<%- theme.valine.avatar %>',
            placeholder: '输入前请确认 <昵称> <邮箱> <你的网站> 是否已填写，支持markdown 格式编写 ',
        })
    </script>
</div>
