<%#- 永久链接（Permalinks）在 md资源 里定义布局方式为layout: md/404 %>

<div class="sea-container headbar-top">
    <!-- 自适应 box -->
    <div class="sea-box">
      <div class="sea-box-1 response">
        <!-- 内容  -->
      <div class="single-content lazyload-container">
          <div class="single-template">
              <div class="status-code-404">
                  <div class="Seablue-status-code-404">
                      <p>
                          <h2>404</h2>
                          
                          找不到页面，消失不见了.....
                      </p>
                  </div>
              </div>

          </div>
          <!-- END single-template -->
      </div>
        <!-- END single-content -->
      </div>
      <!-- END sea-box-1 -->
    </div>
  </div>