/*
************
****  
****  通配设置
****  
***********
*/
body{  
    font-size: 19px;
    color: #676a6d!important;
	margin: 0px;
  	font-family: "Century Gothic", "Lato", sans-serif;
	background: #252c35!important;
}
body {
	margin: 0 auto;
	padding: 0;
	
}
body a {
	transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-o-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-ms-transition: 0.8s all;
}
*, *::after, *::before {
    box-sizing: border-box;
}
ul,ol,li{
	list-style-type: none;    
	cursor: default;
}

/* 设置淡出的css */
/* 鼠标选中的颜色webkit, opera, IE9 */
::selection {
  /*background:#7cc2ff;*/
  color: #fff;
}
/* mozilla firefox */
::-moz-selection {
  /*background:#7cc2ff;*/
  color: #fff;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
  background-color: #eee;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 50px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #7cc2ff;
}


/* 设置滚动条的样式 */
::-moz-scrollbar {
  width: 6px;
  background-color: #eee;
}
/* 滚动槽 */
::-moz-scrollbar-track {
  border-radius: 50px;
}
/* 滚动条滑块 */
::-moz-scrollbar-thumb {
  border-radius: 50px;
  background: #7cc2ff;
}

 html,body,a {
	cursor: url("/a.png"),auto!important;
}
 a:hover{
	cursor: url("/link.png"),auto!important;
}

a:hover,a:focus {
    color: #7bc2ff;
    text-decoration: none
}
a{
  color: #3287b2;
  text-decoration: none;
  position: relative;
  word-wrap: break-word;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
}


/* 进入离开  悬浮下划线

*/
a::after {
	color: #7cc2ff;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
  content: "";
  right: 0;
  width: 0;
  bottom: -2px;
  position: absolute;
  border-bottom: 2px solid;
}
a:hover:after {
    left: 1%;
    right: 1%;
    opacity: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}
/* 展开 悬浮下划线 */
a::after {
	content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -3px;
    height: 3px;
    opacity: 0;
    background-color: #7cc2ff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

a:hover::after {
  left: 0;
  width: 100%;
}

/*
************
****  
****  全局
****  
***********
*/


html {
    position: relative;
    min-height: 100%
}

th {
    font-weight: 600
}

.page-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 10px
}

.copyright {
    margin-bottom: 0;
    text-align: right;
    font-size: 13px
}
.dearmsdan-bg{
	background-color: #252c35;
	background-image: url('https://img.xjh.me/random_img.php?type=bg&ctype=nature&return=302');	
	width: 100%;
    height: 100%;
    opacity: 0.1;
    position: fixed;
    z-index: -1;
}
#dearmsdan .sidebar {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 260px;
    height: 100%;
    float: left;
    background-color: #2b333e;
    position: fixed;
    left: 0
}

#dearmsdan .main {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: calc(100% - 260px);
    left: 0;
    position: relative;
    float: right;
}

#dearmsdan #sidebar-nav,#dearmsdan .main {
    padding-top: 80px;
}
.layout-fullwidth #dearmsdan .sidebar {
    left: -260px
}

.layout-fullwidth #dearmsdan .main {
    width: 100%
}

.layout-fullwidth #dearmsdan .navbar {
    left: 0!important
}

.layout-fullwidth #dearmsdan .btn-toggle-fullwidth {
    color: #0af
}

.offcanvas-active #dearmsdan .sidebar {
    left: 0
}

.offcanvas-active #dearmsdan .main {
    width: 100%;
    position: relative;
    left: 260px
}
.main-content {
    padding: 0;
}

.navbar+.main-content {
    padding: 105px 0 28px 5px
}


html.fullscreen-bg,html.fullscreen-bg body,html.fullscreen-bg #dearmsdan {
    height: 100%
}

.vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table
}

.vertical-align-middle {
    display: table-cell;
    vertical-align: middle
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden
}

.navbar-default {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #252c35;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
    background-color: #fafafa;
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background-color: #f8f8f8;
}

.navbar-default .brand {
    float: left;
	padding: 0;
    padding-left: 8px;
    padding-top: 8px;
}


.navbar-btn {
    float: left;
    padding: 16px 0
}

.navbar-btn button {
    font-size: 24px;
    padding: 4px 8px;
    line-height: .7;
    border: 0;
    background: 0;
    outline: 0
}


.navbar-btn-right {
    float: right
}

.navbar-form {
    padding: 15px;
    border: 0
}

.navbar-form input[type="text"] {
    min-width: 200px
}


.navbar-nav .icon-menu {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    padding-top: 28px;
    padding-bottom: 28px;
    position: relative
}

.navbar-nav .icon-menu .badge {
    position: absolute;
    top: 22px;
    right: 16px
}

.navbar-nav>li>a {
    padding: 28px 20px
}

.navbar-nav>li>a>i {
    font-size: 22px;
    margin-right: 2px;
    vertical-align: middle
}

.navbar-nav>li>a>i.icon-submenu {
    margin-left: 2px;
    margin-right: 0;
    font-size: 10px;
    position: relative;
    top: 2px
}

.navbar-nav>li>a>span {
    position: relative;
    top: 2px
}

.navbar-nav>li>a img {
    width: 22px;
    margin-right: 2px
}

.navbar-nav>li>.dropdown-menu {
    padding: 0;
    min-width: 200px
}

.navbar-nav .dropdown-menu {
    border-top: 2px solid #acb0b5
}

.navbar-nav .dropdown-menu>li>a {
    padding: 10px 20px
}

.navbar-nav .dropdown-menu>li>a:hover,.navbar-nav .dropdown-menu>li>a:focus {
    background-color: #fafafa
}

.navbar-nav .dropdown-menu>li>a span,.navbar-nav .dropdown-menu>li>a i {
    vertical-align: middle
}

/***
	*/




li {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
.mb-20 {
	margin-bottom: 20px
}
.uicss-cn {
	overflow-y: scroll;
	scrollbar-face-color: #888;
	scrollbar-shadow-color: #888;
	scrollbar-highlight-color: #000;
	scrollbar-track-color: #ccc;
	scrollbar-arrow-color: #ccc;
	overflow: -moz-scrollbars-button(#000) !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
 .uicss-cn::-webkit-scrollbar {
max-width: 10px;
height:auto
}
.uicss-cn::-webkit-scrollbar-button {
background-color:none
}
.uicss-cn::-webkit-scrollbar-track {
background:#ccc
}
.uicss-cn::-webkit-scrollbar-thumb {
background:#888;
}
.uicss-cn::-webkit-scrollbar-corner {
background:#82AFFF;
}
.uicss-cn::-webkit-scrollbar-resizer {
background:#FF0BEE;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #252c35;    
	display: inline-block;
}

.nav-list {
    float: right;
    padding: 25px;
    display: inline-block;
}
.nav-list a{
	margin-left: 30px;
}
.navbar-btn .DearMsDanIconFont{
	 font-family:"DearMsDanIconFont" !important;
    font-size:40px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*以上是初始值*/

/*.main{ background: #252c35!important }*/
#dearmsdan {
	position: -webkit-sticky;
	position: sticky;
	opacity: 0
}
.wrapShow {
	-webkit-animation: 1.3s say forwards;
	animation: 1.3s say forwards
}
@-webkit-keyframes say {
		 0% {opacity: 0}
		 50% {opacity: 0.5}
		 100% {opacity: 1}
}
@keyframes say {
		 0% {opacity: 0}
		 50% {opacity: 0.5}
		 100% {opacity: 1}
}
#loading {}
#loading div {
	width: 100%;
	height: 50%;
	position: fixed;
	left: 0;
	background: #252c35;
	z-index: 50;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
#loading div:nth-of-type(1) {
	top: 0;
	-webkit-animation: 1.3s 1s solid forwards;
	animation: 1.3s 1s solid forwards
}
#loading div:nth-of-type(2) {
	bottom: 0;
	-webkit-animation: 1.3s 1s solid2 forwards;
	animation: 1.3s 1s solid2 forwards
}
#loading span {
	width: 0%;
	height: 2px;
	background: url('/loading-bg.png');
	background-color: aqua;
	position: fixed;
	left: 0;
	top: 50%;
	margin-top: -2px;
	z-index: 60;
	-webkit-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
	-webkit-animation: 1s solid22;
	animation: 1s solid22;
}
@-webkit-keyframes solid22 {
		 0% {width: 0;}
		 100% {width: 100%}
}
@keyframes solid22 {
		 0% {width: 0;}
		 100% {width: 100%}
}
 @-webkit-keyframes solid {
		 0% {height: 50%}
		 100% {height: 0%}
}
 @keyframes solid {
		 0% {height: 50%}
		 100% {height: 0%}
}
@-webkit-keyframes solid2 {
		 0% {height: 50%}
		 100% {height: 0%}
}
@keyframes solid2 {
		 0% {height: 50%}
		 100% {height: 0%}
}
/*全局加载动画*/
/*_____________________________________________________分割线*/


.iframe_mx {
	width: 100%;
	height: 100%;
	border: 0;
}
/*链接link*/
/*_____________________________________________________分割线*/

.brand a,.brand a,.nav-list a{
	    position: initial;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 17px 45px;
	color: #657892;
	border-left: 4px solid #2b333e;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li>a.active {
	position: relative;
	display: block;
	padding: 17px 45px;
	color: #3b98c8;
	background: #252c35;
	border-left: 4px solid #3b98c8
}
.nav > li > div {
	background: #141a21;
	display: none;
}
.nav >li > div> ul> li {
	padding: 17px 50px;
}
.nav >li > div> ul {
	padding: 0
}
.nav >li> div >ul> li > a:hover, .nav >li> div >ul> li > a:focus {
	color: #3b98c8;
	background: #141a21;
}
.dearmsdan-count {    
	padding: 20px 0px;
    text-align: center;
}.dearmsdan-count span {
	padding: 2px;
}
.navbar-default {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-radius: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #252c35;
	-webkit-box-shadow: 0 0 15px #000;
	box-shadow: 0 0 15px #000;
}
.btn-toggle-mx {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: 0.8s all;
	-o-transition: 0.8s all;
	transition: 0.8s all
}
.btn-toggle-mx.transmx {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
	display: inline-block;
}
/*导航以及开关*/
/*_____________________________________________________分割线*/

/*_____________________________________________________分割线*/
/*
************
****  
****  post分页 样式 设置
****  
***********
*/
.main-content{        
	box-shadow: rgba(161, 177, 204, 0.4) 0px 0px 1rem;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px 20px 20px;
}
.dearmsdan-post{    
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.dearmsdan-post:hover {
    box-shadow: 0 4px 24px rgb(109, 108, 108);
    z-index: 50;
    padding: 70px 70px;
}
#dearmsdanPost:hover {
    box-shadow: 0 4px 24px rgb(109, 108, 108);
    z-index: 50;
	padding: 70px 245px 70px 70px;
}

.dearmsdan-post::after {
    opacity: 1;
}
.dearmsdan-post{    
	margin-bottom: 50px;
}
.dearmsdan-post-Statistics{    
		margin-top: 20px;
	    margin-bottom: 10px;
		cursor: default;
	-webkit-filter: grayscale(88%);
    filter: grayscale(99%);
    font-size: 12px;
}

.dearmsdan-post-Statistics a{    
		    padding: 3px;
}
#post{    
	margin-bottom: 60px;
}

.dearmsdan-title{
		color: #768798!important;
	    margin-bottom: 12px;
}

.dearmsdan-title h1{
	    margin-bottom: 22px;
}
.header-anchor{
	color: #ffffff00!important;
	background-color: #ffffff00!important;
	background-image: url('/resources/qiaoba.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.header-anchor a:hover::after {
    left: 0;
    width: 0%;
}
/*
************
****  
****   样式 设置
****  
***********
*/
.sidebar-author{
	    margin: 45px 45px 14px;
    width: calc(100% - 90px);
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 0.3rem 2rem rgba(161,177,204,.6);
}
.sidebar-author a {
    padding-bottom: 100%;
    display: block;
    height: 0;
}
.sidebar-author img{
	width: 100%;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    box-shadow: inset 0 -1px 0 #333 sf;
    -webkit-transition: -webkit-transform 1.5s ease-out;
    -moz-transition: -moz-transform 1.5s ease-out;
    transition: transform 1.5s ease-out;
}
.social-search{
	margin-bottom: 25px;
	text-align: center;
	
}
#local-search-result ul,#local-search-result oi,#local-search-result li{
    padding: 5px;
}

.social-search input{
	width: 147px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #c8c8c8;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.social-search input:focus {
    width: 250px;
}


.social-search button{
	width: 42px;
    height: 42px;
    background: 0 0;
    border: none;
}

#paging{    
	margin-left: 20px;
	list-style: none;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    margin-top: -10px;    
	font-size: 32px;
}
#paging a{
	    position: initial;
	text-decoration: none;
}
#paging .DearMsDanIconFont{   
	font-size: 29px;
	margin: 0 15px;
}
#paging a:hover{
	text-decoration: none;
}
.dearmsdan-post img{
	width: 200px;
}
#links img{
	width: inherit; 
}
.copy{
	    margin-top: 30px;
}
.copy::before{
	content: "";
    display: block;
    bottom: -3px;
    height: 3px;
    margin: 20px 0px;
    background-color: #08073b;
    box-shadow: 0 4px 24px rgb(213, 227, 227);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}





@media screen and (max-width: 767px) {
    .copyright {
        text-align:center;
        position: relative!important
    }
}

@media screen and (max-width: 767px) {
    #dearmsdan #sidebar-nav,#dearmsdan .main {
        padding-top: 120px;
    }
}
@media screen and (max-width: 1024px) {
	body{
		font-size: 20px;
	}
    #dearmsdan .sidebar {
        left:-260px
    }

    #dearmsdan .main {
        width: 100%
    }

    #dearmsdan .navbar {
        left: 0!important
    }

    #dearmsdan .btn-toggle-fullwidth {
        color: #0af
    }

    .btn-toggle-minified {
        display: none
    }
	
	
	.dearmsdan-post{    
		transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	}
	
	.dearmsdan-post:hover {
    	padding: 4px;
	}
	#dearmsdanPost{
	}
	#dearmsdanPost:hover {
		padding: 10px;
	}
}
@media screen and (max-width: 767px) {
    .navbar+.main-content {
        padding-top:155px
    }
}
@media screen and (max-width: 1024px) {
    .navbar-default .brand {
        padding-left:30px;
        padding-right: 15px
    }
}

@media screen and (max-width: 301px) {
    .navbar-default .brand {
        display:none
    }
	#dearmsdan{
		margin-top: 90px;
	}
	.dearmsdan-post{
		padding: 5px;
	}
}
@media screen and (max-width: 521px) {
	body {
    font-size: 1rem;
	}
	h1,.h1{
    font-size: 1rem;
	}
	.dearmsdan-post-Statistics{    
		font-size: 0.3rem;
	}
	.dearmsdan-post-Statistics a {
     padding: 0;
	}
	blockquote {
    font-size: 0.5rem;
	}

}

@media screen and (max-width: 640px) {
    .navbar-default #navbar-menu {
        float:right
    }
	#dearmsdan{
		margin-top: 60px;    
	}
	footer{
		    font-size: initial;
	}
	.dearmsdan-count {
    	padding: 17px 30px;
	}
/*	.toc-brand {
	font-size: 22px;
	}*/
}
@media screen and (max-width: 640px) {
    .navbar-btn {
        padding-left:0
    }
}
@media screen and (max-width: 767px) {
    .navbar-form {
        float:left;
        width: 70%;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 0;
        padding-right: 0
    }
	.dearmsdan-count {
    	padding: 17px 30px;
	}

    .navbar-form .input-group {
        width: 70%
    }

    .navbar-form input[type="text"] {
        min-width: 150px
    }
}

@media screen and (max-width: 640px) {
    .navbar-form {
        display:none
    }
}
@media screen and (min-width: 768px) {
    .navbar-nav.navbar-right {
        margin-right:0
    }
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        width:100%;
        margin: 0
    }

    .navbar-nav>li {
        display: table-cell;
        width: 1%;
        position: inherit;
        text-align: center
    }

    .navbar-nav>li>a {
        padding: 15px 20px
    }

    .navbar-nav>li>a span:not(.badge),.navbar-nav>li>a .icon-submenu {
        display: none
    }

    .navbar-nav .open .dropdown-menu {
        -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        position: absolute;
        width: 100%;
        margin-top: 3px;
        background-color: #fff
    }

    .navbar-nav .open .dropdown-menu>li>a {
        padding: 10px 15px
    }

    .navbar-nav .icon-menu {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .navbar-nav .icon-menu .badge {
        top: 10px;
        right: 15px
    }
}

/*尺寸全局覆盖*/
@media screen and (min-width:1200px) {}
@media screen and (min-width: 960px) and (max-width: 1199px) {}
@media screen and (min-width: 768px) and (max-width: 959px) {}
@media only screen and (min-width: 245px) and (max-width: 767px) {
		#wrapper #sidebar-nav, #wrapper .main {
			padding-top: 75px!important;
		}
}
