body{    
}
.dearmsdan {    
	max-width: 1040px;
	margin: auto!important;
}
.nav{
	width: 500px;
	height: 1000px;
	float: left;
    border: 1px #000 solid;
	overflow: hidden;
}
.right{
	width: 500px;
	height: 1000px;
	float: left;
	border: 1px #000 solid;
	overflow: hidden;
}