@charset "utf-8";
/* CSS Document */
.previewbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999
}
.previewbox .preview-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px
}
.previewbox .preview-header .preview-indicator {
  display: block;
  line-height: 28px;
  color: #fff;
  text-align: center;
  margin: 10px auto;
  width: 68px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 12px;
  font-size: 16px
}
.previewbox .preview-content {
  font-size: 0;
  position: relative;
  white-space: nowrap;
  height: 100%
}
.previewbox .preview-content .content-item {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  white-space: normal
}
.previewbox .preview-content .content-item .content-item-scroller {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0
}
.previewbox .preview-content .content-item .content-item-scroller .toggle-left {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 38px;
  z-index: 10000;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  display: block
}
.previewbox .preview-content .content-item .content-item-scroller .toggle-right {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 38px;
  z-index: 10000;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  display: block
}