
<div id="modal" style="display:none">

<aside id="article-toc" class="fixed-toc">
    <div id="article-toc-inner">
        <strong class="sidebar-title">目录</strong>
        <%- toc(page.content, {list_number: false}) %>
    </div>
</aside>
</div>


		<%#- 目录 %>
			<a href="#modal" class="second">
				<div class="i">
						<i style="font-size:20px" class="DearMsDanIconFont icon-sousuo">
						<span style="font-size:0px"><br/>目<br/>录</span>
						</i>
				</div>
			</a>




<script>
	$(".second .i").mouseover(function(){
  $(".second .i span").css("font-size","18px");
});
	$(".second .i").mouseleave(function(){
  $(".second .i span").css("font-size","0px");
});
</script>











	<script src="<%= theme.toc.pageslide %>"></script>