<%# 分页块 %>
<% if (page.total > 1){ %>
    <nav id="paging">
      <%- paginator({
        prev_text: '<i class="DearMsDanIconFont">&#xe617;</i>',
        next_text: '<i class="DearMsDanIconFont">&#xe627;</i>',
		escape: false
      }) %>
    </nav>
  <% } %>

<!--
        prev_text: '<i class="iconfont">&#xe617;</i>',
        next_text: '<i class="iconfont">&#xe627;</i>'
-->