.social-btns .DearMsDanIconFont{
	font-family: "DearMsDanIconFont" !important;
    font-size: 19px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: -36px;
    left: -7px;
}

.social-btns .btn, .social-btns .btn:before, .social-btns .btn .fa {
  transition: all .35s;
  transition-timing-function: cubic-bezier(.31, -.105, .43, 1.59)
}
.social-btns .btn:before {
  top: 90%;
  left: -110%
}
.social-btns .btn .fa {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}
.social-btns .btn:before {
  background-color: aliceblue;
}
.social-btns .btn.GitHub:before {
  background-color: #3b5998;
}
.social-btns .btn.GitHub .fa {
  color: #3b5998;
}
.social-btns .btn.email:before {
  background-color: #00aff0;
}
.social-btns .btn.email .fa {
  color: #00aff0;
}
.social-btns .btn.netease:before {
  background-color: #dc4a38;
}
.social-btns .btn.netease .fa {
  color: #dc4a38;
}
.social-btns .btn.qq:before {
  background-color:#7EFF6E;
}
.social-btns .btn.qq .fa {
  color:#7EFF6E;
}
.social-btns .btn.weibo:before {
  background-color:bisque;
}
.social-btns .btn.weibo .fa {
  color: bisque;
}
.social-btns .btn:focus:before, .social-btns .btn:hover:before {
  top: -10%;
  left: -10%
}
.social-btns .btn:focus .fa, .social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.social-btns {
  height: 20px;    
	margin: 0px 0px 30px 0px;
  font-size: 0;
  text-align: center;
}
.social-btns .btn {
	display: inline-block;
    background-color: #b0b0b0;
    width: 30px;
    height: 30px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle
}