<%

%>
<div class="footbar">
    <div class="footbar-base footbar-base-info"></div>
    <div class="footbar-base footbar-base-info2"><%- theme.footer.info.info2 %></div>
    <div class="footbar-base footbar-base-info3"><%- theme.footer.info.info3 %></div>
</div>
<div class="footbar-top"></div>